body {
  background-color: #f6f6f6;
}

.title-ss {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}
.title-ss_title {
  margin-bottom: 32px;
}
.title-ss_links-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rout_first {
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
}
.rout_first:hover {
  color: #8b8e99;
  transition: all 0.3s;
  text-decoration: none;
}
.separator_icon-arrow {
  width: 20px;
  height: 20px;
}
.rout_active {
  color: #8b8e99;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1440px) {
  .title-ss {
    max-width: 1240px;
  }
}
@media (max-width: 1250px) {
  .title-ss {
    padding-bottom: 42px;
  }
}
@media (max-width: 600px) {
  .title-ss_title {
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
  }
}

.search-sort {
  width: 100%;
  padding-right: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 42px;
}
.search-sort_container {
  max-width: 900px;
  width: 100%;
  padding: 0 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}
.search-sort_search_field {
  width: 505px;
  padding: 9px 16px;
  border-radius: 4px;
  border: 0.5px solid var(--light-gray-borders, #e4e7e9);
  background: #fff;
  height: 52px;
  background-image: url('img/search.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.search-sort_search_field::placeholder {
  color: #8b8e99;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: 'Raleway', sans-serif;
  width: 180px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div {
  border-right: 0.5px solid var(--Gray-Details, #8b8e99);
  border-bottom: 0.5px solid var(--Gray-Details, #8b8e99);
  border-left: 0.5px solid var(--Gray-Details, #8b8e99);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
}
.select-selected {
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  border: 0.5px solid var(--Gray-Details, #8b8e99);
  cursor: pointer;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.sel_title {
  color: var(--Gray-Details, #8b8e99);
  font-family: 'Raleway';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sel_actual {
  color: var(--Black, #000);
  font-family: 'Raleway';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.result_quantity {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-variant-numeric: lining-nums proportional-nums;
}
.result_quantity_actual {
  color: var(--Gray-900, #191c1f);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.result_quantity_total {
  color: var(--Gray-900, #191c1f);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.result_quantity_text {
  color: #5f6c72;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.categories_products {
  position: relative;
}
.wrap_cat_p_s {
  position: absolute;
  right: 330px;
  left: 0;
  top: 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 160px;
  transition: all 0.5s;
}
.categories_products_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  row-gap: 60px;
  flex-wrap: wrap;
  transition: flex-wrap 0.5s;
  max-width: 1280px;
  max-width: 950px;
  transition: all 0.5s;
}
.categories_products_item {
  display: flex;
  flex-direction: column;
  max-width: 295px;
  width: 100%;
  border-radius: 20px;
}
.categories_products_item_image {
  max-width: 295px;
  max-height: 295px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}
.categories_products_item_texts-wrapper {
  display: flex;
  flex-direction: column;
}
.categories_products_item_title {
  margin-bottom: 8px;
  color: var(--Gray-Numbers, #434343);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.categories_products_item_prices-wrapper {
  color: var(--Gray-Numbers, #434343);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2px;
}

.categories_products_sub-availability {
  color: var(--Brand-Color, #f9a351);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.categories_selection {
  width: 480px;
  height: 100%;
  min-height: 100%;
  border-radius: 0px 20px 20px 0px;
  background: #fff;
  transition: all 0.5s;
}
.categories_selection_wrapper {
  display: flex;
  padding: 40px 0px 40px 250px;
  flex-direction: column;
  align-items: flex-end;
}
.categories_selection_open-close-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.categories_select_current-category {
  color: var(--Gray-Details, #8b8e99);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 130px;
  transition: all 0.5s;
}
.categories_select-openclose {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  transform: rotate(180deg);
  transition: all 0.3s;
}
.categories_selection_categories-wrapper {
  display: flex;
  flex-direction: column;
}
.categories_selection_categories_item {
  padding: 20px 30px 20px 0px;
  border-top: 1px solid #f2f2f2;
  width: 230px;
  border-bottom: 1px solid #f2f2f2;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
}
.categories_selection_item-icon {
  width: 30px;
  height: 30px;
}
.categories_selection_item-text {
  min-width: 126px;
  width: 126px;
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.open-menu {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.menu_is_opened .categories_selection {
  width: 260px;
  transition: all 0.5s;
}
.menu_is_opened .categories_select_current-category {
  opacity: 0;
  transition: all 0.5s;
}
.menu_is_opened .wrap_cat_p_s {
  right: 220px;
  transition: all 0.5s;
}
.menu_is_opened .categories_selection_categories_item {
  width: 60px;
  overflow: hidden;
  transition: all 0.5s;
  gap: 30px;
}
.menu_is_opened .categories_products_wrapper {
  max-width: 1280px;
  transition: all 0.5s;
}
.active_category {
  border-top: 1px solid var(--Brand-Color, #f9a351);
  border-bottom: 1px solid var(--Brand-Color, #f9a351);
}
